<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Bibliotheque</title>
</head>
<body>
    <h1>Liste des Livres</h1>
    <ul>
        <li th:each="livre : ${livres}">
            <a th:href="@{'/livres/' + ${livre.id}}">
                <span th:text="${livre.titre} + ' (' + ${livre.auteur} + ')'"></span>
            </a>
        </li>
    </ul>

    <div>
        <a th:text = "Ajouter" href="/addlivre"></a>
    </div>
</body>
</html>